[global_tags]
[agent]
  interval = "10s"
  round_interval = true
  metric_batch_size = 1000
  metric_buffer_limit = 10000
  collection_jitter = "0s"
  flush_interval = "10s"
  flush_jitter = "0s"
  precision = ""
  hostname = "{{influxdb_hostname}}"
  omit_hostname = false
  logfile = "/var/log/telegraf/telegraf.log"
[[outputs.influxdb]]
  urls = ["http://{{influxdb_ip}}:8086"]
[[inputs.cpu]]
  percpu = false
  totalcpu = true
  collect_cpu_time = false
  report_active = false
[[inputs.disk]]
  interval = "1h"
  ignore_fs = ["tmpfs", "devtmpfs", "devfs", "iso9660", "overlay", "aufs", "squashfs"]
[[inputs.diskio]]
  skip_serial_number = false
  device_tags = ["ID_SERIAL"]
[[inputs.net]]
[[inputs.mem]]
[[inputs.swap]]
[[inputs.system]]
{% if influxdb_hostname != 'cubetto' %}
[[inputs.ping]]
  interval = "60s"
  urls = ["8.8.8.8"]
  method = "exec"
[[inputs.exec]]
  interval = "3600s"
  commands = ["/usr/bin/speedtest-cli --json"]
  timeout = "60s"
  data_format = "json"
  name_suffix = "_speedtest"
[[inputs.dns_query]]
  interval = "60s"
  servers = ["127.0.0.53"]
  domains = ["www.google.com"]
[[inputs.docker]]
  interval = "5m"
  endpoint = "unix:///var/run/docker.sock"
{% endif %}